@mixin hover {
  opacity: .8;
  transition: all .2s linear;
}

@mixin bold-text {
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

@mixin price-button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;

  padding-left: 24px;
  padding-right: 18px;

  border-radius: 0 12px 12px 0;
}